html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
}

#paste {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#instructions, #error {
  width: 100vw;
  display: block;
  text-align: center;
  align-self: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.privacy {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

a:link.muted, a:visited.muted {
  color: #aaa;
  font-size: 14px;
}

#error {
  display: none;
}

#json {
  margin: 5px;
}